@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

:root {
    --color-white: #FFF;
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    text-align: center;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}
header a {
    text-decoration: none;
    margin: 0 30px;
    color: var(--color-white);
}
.cursos {
    margin-top: 20px;
}
.cursos curso {
    background-color: var(--color-rocket);
    padding: 20px;
}
.cursos { 
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.curso {
    margin-top: 50px;
    background-color: rgba(63, 62, 62, 0.9);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

/* MODAL */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal {
    background-color: white;
    height: 90%;
    width: 90%;
    margin: 5vh auto;
    position: relative;
    border-radius: 20px;
}
.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 48px;
    top: 8px;
    cursor: pointer;   
}
.modal .modal-content {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
iframe {
    width: 100%;
    height: 100%;
}
.modal.full {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0vh auto;
    position: relative;
}

.modal-overlay.active.full {
    opacity: 1;
    visibility: visible;
}