* {
    margin: 0;
    border: 0;
    padding: 0;
}

header div {
    text-align: center;
    background: rgb(59, 59, 59);
    padding: 30px;
}

header div a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFF;
    background: rgba(59,59,59);   
}

body img {
    max-width: 100%;
}

body h1 {
    margin-top: 30px;
}

body p {
    margin-top: 5px;
}

body a {
    text-decoration: none;
    color: #FFF;
}

.techs {
    padding-top: 10px;
}

li {
    padding: 2px;
}

.socials {
    padding: 15px;
}

.socials a {
    padding: 0 20px;
    color: #7159c1;
    font-weight: bold;
}

.socials a:hover{
    opacity: 0.8;
}